@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  MuiDrawer-paper {
    @apply flex items-center justify-center w-full bg-transparent rounded-t-[20px];
  }
  MuiDrawer-paperAnchorBottom {
    @apply flex items-center justify-center w-full bg-transparent rounded-t-[20px];
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: all 300ms ease;
  }
  
  *::-webkit-scrollbar {
    @apply w-[5px] h-[5px] transition-all duration-300 bg-transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-primary transition-all duration-300;
  }
}



.MuiDrawer-paper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.MuiDrawer-paperAnchorBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar::-ms-overflow-style {
  display: none;
}

.scrollbar {
  scrollbar-width: none;
}

.scrollbar-style {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: all 300ms ease;
}

.scrollbar-style::-webkit-scrollbar {
  width: 5px;
  transition: width 300ms ease;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
}

.scrollbar-style::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: rgb(15 118 110);
  transition: all 300ms ease;
  position: absolute;
  top: 0;
  right: 0;
}



.MuiSlider-thumb {
  width: 20px !important;
  height: 20px !important;
}

.MuiSlider-rail {
  height: 4px !important;
  border-radius: 15px !important;
}

.MuiSlider-track {
  height: 4px !important;
}